<!DOCTYPE html>
<html lang="ua">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../css/styles.css" rel="stylesheet" type="text/css" />
    <link href="../css/tooltip.css" rel="stylesheet" type="text/css" />
    <link href="../css/scrollBarStyle.css" rel="stylesheet" type="text/css" />
    <link rel="shortcut icon" href="../img/ico.svg" type="image/png">
    <title>PrivNote | {{ title }}</title>

    <script src="../js/scripts/sv.js" async></script>
</head>
