<nav class="header sv-flex">

  <div class="dropdown">
    {{#if isIndex}}
      <button class="dropbtn active">ВІДКРИТИ</button>
    {{else}}
      <li><a href="">ВІДКРИТИ</a></li>
    {{/if}}

    <div class="dropdown-content">
      <a href="/">приватну ноту</a>
      <a href="/tgNote/userTgNotes">нагадайки в телеграм</a>
    </div>
  </div>

  <a href="/" class="brand-logo" tooltip="Створюй приватні повідомлення">
    NOTEEE
  </a>

  <div class="dropdown">

    {{#if isCreate}}
      <button class="dropbtn active">СТВОРИТИ</button>
    {{else}}
      <li><a href="">СТВОРИТИ</a></li>
    {{/if}}

    <div class="dropdown-content">
      <a href="/note/create">приватну ноту</a>
      <a href="/tgNote/">нагадайку в телеграм</a>
    </div>
  </div>
</nav>
