{{> head }}

<body>
  <script src="../background/js/sv.js" async></script>

  <div class="container sv-flex sv-col">
    {{> navbar }}

    <div class="game"></div>

    <div class="content sv-flex">

      <img src="../img/loh.png" class="bg-img">

      {{{ body }}}

      <img src="../img/w1.png" class="bg-img">

    </div>
    {{> footer }}
  </div>
</body>

</html>
