<script src="../fly_button/js/airplanButton.js" async></script>
<link href="../fly_button/css/airplanButton.css" rel="stylesheet" type="text/css"/>

<div class="sv-flex sv-col">
  <form class="input-form sv-flex sv-col" action="/tgNote/create" method="post">
    <h3 tooltip="Наш бот надішле тобі повідомлення в назначений час">Нагадайка в телеграм</h3>
    <textarea class="custom-textarea" name="note" rows="5" placeholder="нагадайка"></textarea>
    <div class="note w100">
      <span>Вибери дату:</span>
      <input class="noteDate" type="date" name="sendAtDate" value="">
    </div>
    <div class="note w100">
      <span>Вибери час:</span>
      <input type="time" name="sendAtTime" value="12:00">
    </div>
    {{#if id}}
    <input type="hidden" name="chatId" value="{{id}}">
    {{else}}
    <input type="hidden" name="chatId" value="{{#each req}}{{chatId}}{{/each}}">
    {{/if}}
    <div class="airplan_button">
      <div class="airplan_loader_box">
        <div class="loader_container">
          <div class="airplan_loader_item"></div>
          <div class="airplan_loader_item"></div>
          <div class="airplan_loader_item"></div>
          <div class="airplan_loader_item"></div>
        </div>
      </div>
      <div class="body_plane">
        <img src="../fly_button/img/airplan/airplan.svg" class="airplan">
      </div>

      <input class="airplan_button_body" type="submit" value="створити нагадайку">
    </div>

  </form>
</div>

<script src="../js/formsValidator.js" defer></script>
