<script src="../fly_button/js/airplanButton.js" async></script>
<link href="../fly_button/css/airplanButton.css" rel="stylesheet" type="text/css"/>

<div class="sv-flex sv-col">
  <h3 class="instruction" tooltip-top="наприклад: 636375d8b87f2fb53828a9fd">Скопіювати ключ ноти сюди:</h3>
  <form class="input-form sv-flex sv-col" action="/note/" method="post">
        <textarea class="custom-textarea" name="id" rows="1" placeholder="ключ" required></textarea>

        <div class="airplan_button">
          <div class="airplan_loader_box">
        		<div class="loader_container">
        			<div class="airplan_loader_item"></div>
        			<div class="airplan_loader_item"></div>
        			<div class="airplan_loader_item"></div>
        			<div class="airplan_loader_item"></div>
        		</div>
        	</div>
        	<div class="body_plane">
        		<img src="../fly_button/img/airplan/airplan.svg" class="airplan">
        	</div>

          <input class="airplan_button_body" type="submit" value="подивитись ноту">
        </div>

  </form>
</div>
