<div class="sv-col">
  <p class="" tooltip="Cкопіюйте ключ і надішліть отримувачу">
    Ключ цієї ноти : {{id}}
  </p>
  <hr>
  <p class="" tooltip="Або скопіюйте посилання на ноту і надішліть отримувачу">
    Посилання на ноту: http://{{HOST}}:{{PORT}}/note/{{id}}
  </p>
</div>
