[tooltip],
[tooltip-top] {
  position: relative;
}
[tooltip]::after {
  content: attr(tooltip);
  position: absolute;width: auto;
  font-size: 14px;
  left: 0; top: 0;
  background: #373737;color: #fff;
  padding: 0.5em;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  pointer-events: none;
  opacity: 0;transition: .3s;
  z-index: 11;
}
[tooltip]:hover::after {
  opacity: 1;transform: translateY(70%);
}

[tooltip-top]::after {
  content: attr(tooltip-top);
  position: absolute;width: auto;
  font-size: 14px;
  left: 0; top: 0;
  background: #373737;color: #fff;
  padding: 0.5em;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  pointer-events: none;
  opacity: 0;transition: .3s;
  z-index: 11;
}
[tooltip-top]:hover::after {
  opacity: 1;transform: translateY(-100%);
}
