/*   mini bootstrap   */
.flex{
	display: flex;
  justify-content: center;
  justify-items: center;
  align-content: center;
  flex-wrap: wrap;
  align-items: center;
}
/*   mini bootstrap   */

/*///////////////////////////////////*/
.airplan_button{
	min-width: 300px;
	min-height: 50px;
	position: relative;
	display: flex;
	justify-content: center;
	justify-items: center;
	align-content: center;
	flex-wrap: wrap;
	align-items: center;
}
.airplan_button_body{
	position: absolute;z-index: 1;
	width: 100%;min-height: 50px;
	padding: 15px 90px;
	font-family: Arial, cursive;
	color: #fff;font-size: 16px;
	background-color: #373737;
	animation: 3s infinite;
	transition: .5s;
	cursor: pointer;
}
.airplan_button_body:hover{
	animation-name: dropShadow;
}
@keyframes dropShadow{
	50% {
	text-shadow: 0px 0px 20px #c3bbf2;
	}
}

.airplan_button_active .airplan_button_body{
	transform: scaleX(.3);
	color: transparent;
}
.disabled_airplan_button{
	background-color: gray !important;
}

.airplan_loader_box{
	position: absolute;
	width: 100%;height: 100%;
	opacity: 0;transition: .3s;
	display: flex;
	justify-content: center;
	justify-items: center;
	align-content: center;
	flex-wrap: wrap;
	align-items: center;
}
.airplan_button_active .airplan_loader_box{
	opacity: 1;
}
.loader_container{
	position: relative;
	width: 30px;height: 30px;
}
.airplan_loader_item{
	width: 10px;height: 10px;
	transition: 1s;
	position: relative;
	z-index: -1;opacity: 0;
	animation-delay: .5s;
	background-color: #0f0;
	animation:rotateLoaderItem 2s infinite;
	z-index: 2;
}
.airplan_loader_item:nth-child(2n-1){
	background-color: #f00;
}
.airplan_loader_item:nth-child(1){
	animation-delay: .5s;
}
.airplan_loader_item:nth-child(2){
	top: -10px;
	animation-delay: 1s;
}
.airplan_loader_item:nth-child(3){
	top: -20px;
	animation-delay: 1.5s;
}
.airplan_loader_item:nth-child(4){
	top: -30px;
	animation-delay: 2s;
}

@keyframes rotateLoaderItem{
	25% {
		transform: translateX(20px) translateY(0px);
		opacity: .9;
		border-radius: 1%;
	}
	50% {
		transform: translateX(20px) translateY(20px);
		opacity: .5;
		border-radius: 50%;
	}
	75% {
		transform: translateX(0px) translateY(20px);
		opacity: .9;
		border-radius: 1%;
	}
	100% {
		transform: translateX(0px) translateY(0px);
		opacity: .5;
		border-radius: 50%;
	}
}

/*//////////////*/

.body_plane{
	width: 50px;
	height: 50px;
	position: absolute;
}
.airplan{
	width: 40px;
	transform: rotateY(0deg) translateX(0px) translateY(0px) scale(1.5);
	opacity: 0;
}

.airplan_button_active .body_plane{
	animation: flyPlan 6s infinite;
}
@keyframes flyPlan{
	25% {
		transform: translate(220px, -120px);
	}
	50% {
	  transform: translate(20px, -57px);
	}
	75% {
	  transform: translate(200px, -38px);
	}
	100% {
	  transform: translate(0px, 0px);
	}
}

.airplan_button_active .airplan{
	animation: rotatePlan 6s infinite;
}
@keyframes rotatePlan{
	10% {
		opacity: 1;
	}
	25% {
		transform: rotateX(50deg) rotateY(0deg);
	}
	27% {
		transform: rotateX(-130deg) rotateY(180deg);
	}
	50% {
		transform: rotateX(50deg) rotateY(180deg);
	}
	52% {
		transform: rotateX(-130deg) rotateY(0deg);
	}
	75% {
		transform: rotateX(50deg) rotateY(0deg);
	}
	77% {
		transform: rotateX(-130deg) rotateY(180deg);
	}
	90% {
		transform: rotateX(-50deg) rotateY(180deg);
		opacity: 1;
	}
	100% {
		transform: rotateX(0deg) rotateY(180deg);
	}
}
